.bg-primary.text-white{
  background-color:#7f00b2;
}

.q-toolbar {
background-color: #7f00b2;
}

.q-layout{
  background-color:#daeed7 ;
}

.q-drawer__content{
  background-color: #daeed7;
}
/* 
#7f00b2 morado oscuro
#8e22bb
#ab49cc
#77dd77 verde
#a9e9a4 
#daeed7 neutro 
*/